*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
  color: rgb(333);
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Vollkorn', serif;
}

.half {
  width: 50%;
}

textarea {
  border: 1px solid rgb(229,229,229);
  outline: none;
}

.no-border {
  border: none;
}

.markdown {
  float: left;
}

.html {
  float: right;
}
