<section class='half markdown'>
  <h3>Markdown</h3>
  {{textarea placeholder='Write markdown here' value=markdown rows='50' cols='90'}}
</section>

<section class='half html'>
  <h3>HTML</h3>
  <p>
    {{showdown-addon markdown}}
  </p>
</section>
